<h1><%= @product.name %></h1>
<%= @product.price / 100 %> PLN
<%= link_to 'Strong główna', :root %>
<form action="/orders/" method="post">
    <input type="text" name="buyer_id" value="<%= @buyer.id %>" />
    <input type="hidden" name="product_id" value="<%= @product.id %>" />
    <input type="hidden" name="price" value="<%= @product.price %>" />
    <select name="quantity">
        <%
            (1..10).each do |i|
                %>
                    <option value="<%= i %>"><%= i %></option>
                <%
            end
        %>
    </select>
    <input type="submit" value="Dodaj do koszyka">

</form>
<a href="/order/add/<%= @product.id %>">Dodaj do koszyka</a>

<div class="span2">
  <%= render 'orders/template' %>
</div>